[Desktop Entry]
Name=QAircrack
GenericName=QAircrack
X-GNOME-FullName=QAircrack
Exec=qaircrack
Icon=qaircrack
Terminal=false
Type=Application
Categories=Network;
Comment=Simple frontend for Aircrack-ng
Comment[es_ES]=Interfaz gráfica sencilla para Aircrack-ng
